<h1><%= current_page.attributes.tag %></h1>

<% pages_tagged(current_page.attributes.tag).each do |page| %>
  <div class="page-link">
    <a href="<%= page.path %>"><%= page.title %></a>
  </div>
<% end %>
